
#fotos {
    
    width: 100%;
    padding: 0 3rem;
    box-sizing: border-box;
}

#fotos .fotosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:first baseline;
    width: 100%;
}

#fotos .fotosContainer img {
    max-width: 400px;
    margin: 10px;
    box-sizing: border-box;
}

h2 {
    font-family: "Zen Tokyo Zoo", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: gold;
}


@media (max-width: 768px) {
    #fotos {
        padding: 0 1rem;
    }

    #fotos .fotosContainer img {
        width: 100%;
        max-width: none;
        margin: 5px 0;
    }
}